/* styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Edu+TAS+Beginner&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
    /* change the values below to your chosen font(s) */
    --heading-font: 'Pacifico', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0
  }
  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
  }
  .home-grid section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .home-grid section img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .home-grid section p {
    text-align: left;
    order: 1; /* Move the paragraph to the first position in the grid */
  }
  .home-grid section h2:first-child,
  .home-grid section p:first-child {
    grid-column: 1;
    grid-row: 3;
  }
  .rivers-card {
    grid-column: 2; /* Move the .rivers-card to the second column */
    grid-row: 2;
    width: 50%; /* Set your desired width */
    margin: 0 auto;
  }
  .camping-card {
    grid-column: 2; /* Move the .rivers-card to the second column */
    grid-row: 3;
    width: 50%; /* Set your desired width */
    margin: 0 auto;
  }
body {
  background-color: white;
}
a {
  color: white;
  margin: 40px;
  font-size: 1.5em;
}
h1 {
  font-family: var(--heading-font);
  color: white;
}
h2 {
  font-family: var(--heading-font);
  color: #945139;
  margin: 0;

  text-align: center;
}
nav {
  background-color: #948039;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
footer p {
  font-size: 1em;
  color: white;
}
footer a:hover {
  color: #837e6f;
}
header {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-align: center;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  border: 2px solid white; 
  border-radius: 5px; 
}
nav a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
#brand {
  text-align: center;
  padding: 2em;
  background-color: #948039;
}
.home-title {
  color:white;
  font-size: 2em;
  margin-top: 10px;;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  grid-column: span 2; 
  text-align: center;
}
.home-grid section:first-child {
  grid-column: span 2; 
  text-align: center;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a { 
  color: white;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
  border-radius: 20px;
}
.home-grid section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-grid section img {
  max-width: 100%;
  margin-bottom: 10px; 
  order: 1;
}
.home-grid section p {
  text-align: left; 
  order: 2;
}
.home-grid section:first-child {
  grid-column: span 2; 
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid white; 
  border-radius: 5px; 
}
h1:hover {
  color: white;
}
p {
  font-family: var(--paragraph-font);
  color: #948039;
  padding: 1em;
}
.narrow-paragraph {
  max-width: 700px;
  width: 50%; /* Set your desired width */
  margin: 0 auto;
  color: #948039;
  font-size: 32px;
}
.narrow {
  max-width: 700px;
  width: 50%; /* Set your desired width */
  margin: 0 auto;
}
.square-container {
  width: 100px; /* Set the width of the square */
  height: 100px; /* Set the height of the square */
  background-color: white; /* Set the background color */
  text-align: center; /* Center the text horizontally */
  line-height: 100px; /* Center the text vertically */
}
.square-text {
  display: inline-block; /* Make the text inline-block to center it */
  vertical-align: middle; /* Center the text vertically */
}
.logo {
  width: 80px;
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }

  #first_section {
      margin-top: 0;
  }
  #first_section p {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: rgb(13, 36, 99);
  }
  #background {
      display: none;
  }

  footer {
      margin-top: 25px;
  }
}




  








