/* styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Edu+TAS+Beginner&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
h2 {
  font-family: 'Agbalumo', sans-serif;
}
p {
  font-family: 'Dosis', sans-serif;
}
#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
body {
  background-color: rgb(241, 236, 237);
}
a {
  color: rgb(255, 255, 255);
  margin: 40px;
  font-size: 1.5em;
}
h1 {
  font-family: var(--heading-font);
  color: #ffffff;
}
h2 {
  font-family: var(--heading-font);
  color: #945139;

  text-align: center;
}
nav {
  background-color: #948039;
  padding: 10px;
}
footer p {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

#brand {
  text-align: center;
  padding: 2em;
  background-color: #948039;
}

.home-title {
  margin: 0;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.home-grid section:first-child {
  grid-column: span 2; 
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

.social img {
  width: 30px;
  margin-right: 10px;
}

.home-grid section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-grid section img {
  max-width: 100%;
  margin-bottom: 10px; 
  order: 1;
}

.home-grid section p {
  text-align: left; 
  order: 2;
}

.home-grid section:first-child {
  grid-column: span 2; 
  text-align: center;
}
nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid white; 
  border-radius: 5px; 

}
h1:hover {
  color: white;
}
p {
  font-family: var(--paragraph-font);
  color: #948039;
  padding: 1em;
}







