.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
a {
    font-size: 1.5em;
}

h1 {
    text-align: center;
}
nav, footer {
    text-align: center;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover{
    background-color: white;
    color: steelblue;
}




div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
    margin: 0 auto;
    
    div {
        height: 500px;
        width: 50%
        background-color: powderblue;
    }

    div {
        max-width: 1600px;
        height: 100px;
        background-color: powderblue;